.wireframe-14,
.wireframe-14 * {
  box-sizing: border-box;
}
.wireframe-14 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.fc-98-d-86-e-2801-4-c-33-9-c-5-d-41-a-8-bed-515-a-8-1 {
  width: 1792px;
  height: 1024px;
  position: absolute;
  left: -228px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1792/1024;
}
.rectangle-16 {
  background: rgba(217, 217, 217, 0.85);
  opacity: 0.75;
  width: 1440px;
  height: 690px;
  position: absolute;
  left: 0px;
  top: 190px;
}
._146-c-64-ec-39-c-0-4-f-1-b-892-a-43-b-916619-c-83-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1340px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-1 {
  background: #484848;
  border-radius: 50px;
  width: 1392px;
  height: 90px;
  position: absolute;
  left: -68px;
  top: 10px;
}
.introduction {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 771px;
  top: 0px;
  width: 503px;
  height: 100px;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 35px;
  top: 186px;
  width: 1395px;
  height: 737px;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished-span {
  color: #000000;
  font-family: "Mplus1PBold-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished-span2 {
  color: #000000;
  font-family: "Mplus1PBold-Bold", sans-serif;
  font-size: 40px;
  line-height: 148.52%;
  font-weight: 700;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished-span3 {
  color: #000000;
  font-family: "Mplus1PBold-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished-span4 {
  color: #000000;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.introduction-of-skill-based-charity-skill-based-charity-is-a-new-way-of-giving-where-people-donate-money-based-on-completed-challenges-or-tasks-that-showcase-their-skills-instead-of-just-donating-directly-individuals-use-their-talents-like-painting-coding-singing-or-sports-to-complete-challenges-when-they-succeed-others-donate-to-support-their-effort-and-a-good-cause-for-example-a-musician-plays-songs-for-a-challenge-and-supporters-donate-based-on-their-performance-a-programmer-builds-a-small-app-and-donations-come-in-as-encouragement-a-runner-completes-a-marathon-and-people-pledge-donations-for-every-mile-finished-span5 {
  color: #000000;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 38px;
  font-weight: 400;
}
.icone-removebg-preview-1 {
  width: 3.47%;
  height: 50px;
  position: absolute;
  right: 96.11%;
  left: 0.42%;
  top: 193px;
  object-fit: cover;
  aspect-ratio: 1;
}
