.wireframe-13,
.wireframe-13 * {
  box-sizing: border-box;
}
.wireframe-13 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.fc-98-d-86-e-2801-4-c-33-9-c-5-d-41-a-8-bed-515-a-8-1 {
  width: 1792px;
  height: 1024px;
  position: absolute;
  left: -228px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1792/1024;
}
._146-c-64-ec-39-c-0-4-f-1-b-892-a-43-b-916619-c-83-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1340px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-1 {
  background: #484848;
  border-radius: 50px;
  width: 1392px;
  height: 90px;
  position: absolute;
  left: -53px;
  top: 100px;
}
.contents {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 86px;
  width: 503px;
  height: 117px;
}
.ellipse-1 {
  background: #484848;
  border-radius: 50%;
  width: 112px;
  height: 115px;
  position: absolute;
  left: 0px;
  top: 299px;
}
.ellipse-3 {
  background: #484848;
  border-radius: 50%;
  width: 112px;
  height: 115px;
  position: absolute;
  left: 0px;
  top: 504px;
}
.ellipse-5 {
  background: #484848;
  border-radius: 50%;
  width: 112px;
  height: 115px;
  position: absolute;
  left: 0px;
  top: 705px;
}
.ellipse-2 {
  background: #484848;
  border-radius: 50%;
  width: 112px;
  height: 115px;
  position: absolute;
  left: 742px;
  top: 299px;
}
.ellipse-4 {
  background: #484848;
  border-radius: 50%;
  width: 112px;
  height: 115px;
  position: absolute;
  left: 742px;
  top: 504px;
}
.rectangle-2 {
  background: #484848;
  border-radius: 30px;
  width: 586px;
  height: 115px;
  position: absolute;
  left: 112px;
  top: 299px;
}
.rectangle-4 {
  background: #484848;
  border-radius: 30px;
  width: 586px;
  height: 115px;
  position: absolute;
  left: 112px;
  top: 504px;
}
.rectangle-6 {
  background: #484848;
  border-radius: 30px;
  width: 586px;
  height: 115px;
  position: absolute;
  left: 112px;
  top: 705px;
}
.rectangle-3 {
  background: #484848;
  border-radius: 30px;
  width: 586px;
  height: 115px;
  position: absolute;
  left: 854px;
  top: 299px;
}
.rectangle-5 {
  background: #484848;
  border-radius: 30px;
  width: 586px;
  height: 115px;
  position: absolute;
  left: 854px;
  top: 504px;
}
._1 {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 283px;
  width: 66px;
  height: 127px;
}
._2 {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  left: 754px;
  top: 282px;
  width: 66px;
  height: 127px;
}
._4 {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  left: 754px;
  top: 485px;
  width: 66px;
  height: 127px;
}
._3 {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 485px;
  width: 66px;
  height: 127px;
}
._5 {
  color: #ffffff;
  text-align: center;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 688px;
  width: 66px;
  height: 127px;
}
.introduction {
  color: #ffffff;
  text-align: center;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 317px;
  width: 586px;
  height: 92px;
}
.challenges-of-charity-platform {
  color: #ffffff;
  text-align: center;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 323px;
  width: 586px;
  height: 111px;
}
.benefits-of-the-platform {
  color: #ffffff;
  text-align: center;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 522px;
  width: 586px;
  height: 111px;
}
.case-studies-examples {
  color: #ffffff;
  text-align: center;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 727px;
  width: 586px;
  height: 105px;
}
.skill-based-charity-platform {
  color: #ffffff;
  text-align: center;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 96px;
  top: 522px;
  width: 586px;
  height: 111px;
}
